.sidebar {
  grid-area: nav;
  min-width: 150px;
}

.nav {
  align-self: start;
  background-color: #3FE045;
  display: block;
  margin-bottom: 5px;
}

.item {
  width: auto;
  margin: 1px;
}

.item a {
  text-decoration: none;
  color: #fff;
  border: #38613A solid 1px;
  padding: 10px;
  display: block;
}

.item a.activeLink {
  background-color: #1B611D;
}

.item button {
  color: #fff;
  text-align: left;
  background-color: #3FE045;
  border: #38613A solid 1px;
  padding: 10px;
  display: block;
  width: 100%;
  font-size: 16px;
}

