.header {
  grid-area: header;
  background-color: #1B611D;
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-items: center;
}

.logo {
  height: 48px;
  margin: 10px auto 10px 10px;
}

.title {
  align-self: center;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
}