.image {
  height: 200px;
  background: url(https://klike.net/uploads/posts/2019-07/1562069947_1.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 10px;
}

.person {
  padding: 20px;
  display: grid;
  grid-template: 
    "pdi pdt"
    "pdi pdc";
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;
  color: darkolivegreen;
}

.person_img {
  grid-area: pdi;
  max-height: 150px;
  width: auto;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #ddd;
}

.person_title {
  grid-area: pdt;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.person_data {
  grid-area: pdc;
  font-weight: normal;
  font-size: 15px;
}

.person_data span {
  font-weight: bold;
}

.person_data a {
  font-size: 22px;
  padding-right: 5px;
  text-decoration: none;
  color: darkolivegreen;
}